{
  # put your login here 
  # login = "example";
  # hostname = "nixos";
  # lang =  "us" ou "fr"; # DOESNT AFFECT KEYBOARD ! check home-manager for that
  # wg-admin-homelab = false;
  # vpn-admin-banquise = false;
  # nvidia-gpu = false;
  # nvidia-gpu-at-least-rtx2000 = false;
}
