{
  # put your login here 
  # login = "example";
  # hostname = "nixos";
  # wg-admin-homelab = false;
  # vpn-admin-banquise = false;
  # nvidia-gpu = false;
  # nvidia-gpu-at-least-rtx2000 = false;
}
